
<!doctype html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
		<title>@cackhanded forgot to turn off sync to twitter while while testing, put it down to cold  - now swearing a lot at computer as if it is its fault</title>
	

		<link rel="webmention" href="{{this.url}}" />
		<link rel="http://webmention.org/" href="{{this.url}}" />

	</head>
	<body class="h-entry h-as-note">
 



		<article>

       <!-- replies -->
          
            <section class="in-replies">
            
                <div class="reply-to">
                  <i class="fa fa-reply"></i>
                  Replied to <a class="u-in-reply-to" href="https://twitter.com/cackhanded/status/456710971885494274">a item on twitter</a>
                </div>
              
            </section>
          

          		<div class="shadow">

				<!-- Content -->		
				<h1 class="p-name e-content"><a class="auto-link h-x-username" href="https://twitter.com/cackhanded">@cackhanded</a> forgot to turn off sync to twitter while while testing, put it down to cold  - now swearing a lot at computer as if it is its fault</h1>


				<!-- Date -->
				
					<span class="dateline"><a class="u-url" href="2014-04-17"><time class="dt-published" datetime="2014-04-17T08:36:29.044Z">a minute ago &ndash; 17 April 2014</a></time></span>
				


				<!-- Syndication -->
	  			

					&dash; <a rel="syndication" class="u-syndication sync-link" href="https://twitter.com/glennjones/status/456712783577350144">On twitter</a>

			      	
			    

	          </div>


          	<!-- comments -->
	         
	
		
		</article>


			<footer class="p-author h-card clearfix" role="contentinfo">

			<p>
				<a class="u-url p-name name" rel="me" href="http://glennjones.net/about/">Glenn Jones</a> 
				<span class="p-note strapline">Exploring semantic mark-up and data portability.</span>
			</p>
			<ul>
				<li><a class="u-url" rel="me" href="https://twitter.com/glennjones">twitter</a> (glennjones)</li>
				<li><a class="u-url" rel="me" href="https://github.com/glennjones">github</a> (glennjones)</li>
				<li><a class="u-url" rel="me" href="http://delicious.com/glennjonesnet/">delicious</a> (glennjonesnet)</li>
				<li><a class="u-url" rel="me" href="http://lanyrd.com/people/glennjones/">lanyrd</a> (glennjones)</li>
				<li><a class="u-url" rel="me" href="https://plus.google.com/u/0/105161464208920272734/about">google+</a> (105161464208920272734)</li>
				<li><a class="u-url" rel="me" href="http://www.linkedin.com/in/glennjones">linkedin</a> (glennjones)</li>
				<li><a class="u-url" rel="me" href="http://www.slideshare.net/glennjones/presentations">slideshare</a> (glennjones)</li>
			</ul>

		</footer>




	</body>	
</html>